NET "clock" LOC = A8;
NET "owdata" LOC = B4;
NET "anode[3]" LOC = F12;
NET "anode[2]" LOC = G13;
NET "anode[1]" LOC = G12;
NET "anode[0]" LOC = G14;
NET "cathode[0]" LOC = F13;
NET "cathode[1]" LOC = E13;
NET "cathode[2]" LOC = G15;
NET "cathode[3]" LOC = H13;
NET "cathode[4]" LOC = J14;
NET "cathode[5]" LOC = E14;
NET "cathode[6]" LOC = G16;
NET "cathode[7]" LOC = H14;
#NET "leds[7]" LOC = R16;
#NET "leds[6]" LOC = P14;
#NET "leds[5]" LOC = M13;
#NET "leds[4]" LOC = N14;
#NET "leds[3]" LOC = L12;
#NET "leds[2]" LOC = M14;
#NET "leds[1]" LOC = L13;
#NET "leds[0]" LOC = L14;
