NET "clk_50" LOC = A8;

NET "an[0]" LOC = G14;
NET "an[1]" LOC = G12;
NET "an[2]" LOC = G13;
NET "an[3]" LOC = F12;

NET "led[0]" LOC = F13;
NET "led[1]" LOC = E13;
NET "led[2]" LOC = G15;
NET "led[3]" LOC = H13;
NET "led[4]" LOC = J14;
NET "led[5]" LOC = E14;
NET "led[6]" LOC = G16;
